<div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a>Hi,{{name}}</a></li>
      <li><a  routerLink="/login">Logout</a></li>
    </ul>
  </div>
  <h2>My meetings
    <button
     class="btn btn-primary" 
     routerLink="/login/calendar-view/create-group-event">Add New</button>
  </h2>
  <ul class="events">
    <li *ngFor="let event of events">
      <span> {{event.id}} </span>
      {{event.eventTitle}} {{event.fromTime}} {{event.toTime}} {{event.date}} {{event.position}} {{event.room}} {{event.note}}
    </li>
  </ul>
</div>
<router-outlet></router-outlet>