<div style="text-align:center">
  <form (ngSubmit)="onSubmit(loginForm.value)" #loginForm="ngForm">
    <div>
      <label>USER NAME:</label>
      <input type="text" name=username [(ngModel)]=username #usernameField="ngModel" required>
      <!-- <input type="text" (input)="onUpdateUserName($event)" required> -->
    </div>
    
    <div>

      <label >PASSWORD:</label>
      <input type="password"  name=password [(ngModel)]=password #passwordField="ngModel" required>
     
    </div>

    <div *ngIf=valid>

    <div *ngIf="usernameField.invalid && usernameField.errors.required">
      Username is required.
    </div>
    <div *ngIf="passwordField.invalid && passwordField.errors.required">
      Password is required.
    </div>

    </div>

    <hr>
    <a>{{warning}}</a>
    <div>
      <button class="btn btn-primary" type="submit" (click)="onSubmit()">Confirm</button>
      <a routerLink="/app-register-user" type="register" class="btn btn-link">Sign Up</a>
    </div>
  </form>
</div>
<router-outlet></router-outlet>