<div>
  <h3 style="text-align:center">Register user</h3>
  <br>
  <div>
    <form (ngSubmit)="onSubmit(registerUserForm.value)" #registerUserForm="ngForm">
      <div>
        <label for="student_id">Student ID</label>
        <input type="text" value="student_id" name="student_id" [(ngModel)]=student_id required>
      </div>
      <div>
        <label for="name">Name</label>
        <input type="text" value="name" name="name" [(ngModel)]=name required>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="text" value="password1" name="password1" [(ngModel)]=password1 required>
      </div>
      <div>
        <label for="password">Password Validation</label>
        <input type="text" value="password2" name="password2" [(ngModel)]=password2 required>
      </div>
      <div>
        <label for="email">Email</label>
        <input type="text" value="email" name="email" [(ngModel)]=email required>
      </div>
      <div style="text-align:center">
        <a>{{warning}}</a>
      </div>
      <div>
        <button class="btn btn-primary" (click)="cancelClick()">Cancel</button>
        <button class="btn btn-primary" type="submit">Register</button>
      </div>
    </form>
  </div>
</div>