<div class="container">
  <div class="row">
    <div class="col-sm-4">  
      <h1>Angular HttpClient</h1>
      <ul class="nav justify-content-center">
          <li class="nav-item">
              <a routerLink="customers" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Retrieve</a> 
          </li>
          <li class="nav-item">
              <a routerLink="customer/add" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Create</a>
          </li>
      </ul>
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



{% comment %} <!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3><img width="60" alt="EasyPlannerLogo" src="./src/image/ep-logo.png"/> Welcome to {{ title }}!</h3>
      <hr>
      <app-log-in></app-log-in>
    </div>
  </div>
</div> {% endcomment %}